.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 2rem;
  }
  .highlight {
    position: relative;
    margin: 0 0.5rem;
  }
  .highlight:after {
    content: "";
    background-color: rgba($color: theme-color("warning"), $alpha: 0.6);

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .lead {
    line-height: 42px;
  }
  .emoji {
    margin: 0 0.5rem;
    font-size: 1.5em;
  }
}
