$blue: #212e67;

$dark: #212e67;

$link-color: theme-color("primary");
// $link-decoration: none;
// $link-hover-color: lighten($blue, 15%);
// $link-hover-decoration: underline;

$font-family-sans-serif: "Raleway", sans-serif;
$body-color: $blue;

$jumbotron-bg: theme-color("light");

$card-border-width: 0;
$card-color: theme-color("light");
$card-bg: transparent;
